<h1>Hello <%= @user.name %></h1>

<div>
<h2>Most Influential Followers: </h2>
  <% @sorted_followers.each do |follower| %>
    <p><%= follower.screen_name %></p>
    <p>Numbers of Followers: <%= follower.followers_count %></p>
  <% end %>
</div>

<div>
  <h2>Verified Followers: </h2>
  <% @user.followers.each do |follower| %>
    <% if follower.verified_follower == true %>
      <p><%= follower.screen_name %></p>
    <% end %>
  <% end %>
</div>

<div>
  <h2>Global Reach of Tweet: </h2><%= @total_followers %>
</div>

<div>
  <h2>Recent Followers: </h2>
  <% @recent_followers.each do |follower| %>
    <p><%= follower.screen_name %></p>
  <% end %>
</div>